details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

html {
  font-family: Consolas, monaco, monospace;
}

.company-thumb,
.profile-thumb {
  object-fit: cover;
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.company-figure,
.profile-figure {
  display: block;
  margin: auto;
  margin-right: 20px;
  margin-top: initial;
}

.experience,
.profile-header {
  display: inline-flex;
  width: 100%;
}

.figure-div,
.details-div {
  display: flex;
}

.experience-section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 10px;
  display: list-item;
}
